@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  user-select: none; /* Для большинства браузеров */
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none; /* Для Firefox */
}

/* reset styles */
body {
  display: none;
  background-color: #96aec6;
  -webkit-background-size: 100vw 100vh;
  background-size: 100vw 100vh;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow: hidden;
}

.o-navbar {
  background: linear-gradient(to top right, #3c3c3a, #6b6b6b);
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding: 1vh;
}
.o-navbar-url {
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 1vh;
  color: #545454;
  padding: 1vh;
  border: 1px solid #262624;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: none;
}

.o-navbar-nav {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.homeImg {
  width: 1.7vw;
  height: 1.7vw;
  cursor: pointer;
}

.nextImg,
.backImg {
  width: 2.3vw;
  height: 2.3vw;
  cursor: pointer;
}

.closeImg {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.o-content {
  padding: 0 0.3vh;
  background-color: #96aec6;
}

.o-content-blur {
  filter: blur(5px);
}

.o-title-logo {
  background: linear-gradient(to top right, #2b5bdb, #294fbe);
  /* padding: 1vh 5vh; */
  justify-content: space-between;
  color: #f1f2f6;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.o-title-logo-title {
  display: flex;
  align-items: center;
  padding: 1vh 5vh 2vh;
  justify-content: space-between;
  color: #f1f2f6;
  font-family: "Montserrat", sans-serif;
}

.sitelogo {
  width: 13vh;
  height: 13vh;
}

.o-site-navbar {
  display: flex;
  gap: 0.2vh;
}

.o-site-navbar div {
  display: flex;
  width: 15vw;
  justify-content: center;
  background: linear-gradient(to top right, #25221d, #222126);
  color: #fdfdfd;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.o-site-navbar .active {
  background: linear-gradient(to top right, #2d2d2f, #828282);
}

.o-site-content {
  padding: 0 2vw;
}

.template-item {
  margin-top: 1vh;
  width: 100%;
  background-color: #ced9dd;
  min-height: 10vh;
  padding: 10px;
}

.template-item div {
  text-transform: none;
  color: #1d1e20;
  font-family: "Montserrat", sans-serif;
}
.template-item-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}
.template-item-description {
  font-size: 16px;
  padding-bottom: 10px;
}
.template-item-btn {
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  background-color: #7c955b;
  width: max-content;
  cursor: pointer;
}

.o-profile {
  background: linear-gradient(to top right, #2d56d6, #05161d);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 1vh;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.o-profile div {
  text-transform: capitalize;
}

.p-boxes {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: linear-gradient(to top right, #2d56d6, #05161d);
  width: 50vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}

.btn-changeCardId,
.btn-appeals {
  /* background: linear-gradient(to top right, #e38182, #db585e); */
  background-color: #7c955b;
  width: max-content;

  padding: 10px;
  margin-left: auto;
  cursor: pointer;
}

.title-changeCardId {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.request-popup {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.request-popup.show {
  opacity: 1;
  pointer-events: auto;
}

.btn-changeCardId-disagree,
.btn-appeals-disagree {
  background: linear-gradient(to top right, #e38182, #db585e);
  width: max-content;
  padding: 10px;
  cursor: pointer;
}

.disable {
  background-color: #94adc3;
}

.license-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
